.calender-body {
    margin: 16px 16px 0px 16px;
    background-color: darkred;
    color: white;
    border-radius: 8px;
    padding: 8px 8px 0px 8px;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

::ng-deep .fc .fc-daygrid-day-number {
    color: white;
    text-decoration: none;
}
::ng-deep .fc .fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;
  }
::ng-deep .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--fc-today-bg-color,rgba(225, 206, 69, 0.67)) !important;
  }
  @media (min-width: 320px) and (max-width: 520px) {
    .calender-body{
        height: 31.5em;
    }
  }