<full-calendar class="calender-body" [options]="calendarOptions"></full-calendar>
<div *ngIf="dateFormat === '2022-11-20'">
    Today is Utpana Ekadasi
</div>
<div *ngIf="dateFormat === '2022-12-04'">
    Today is Mokshada / Vaikuntha/ Mukkoti/ Gita Ekadasi
</div>
<div *ngIf="dateFormat === '2022-12-19'">
    Today is Saphala Ekadasi
</div>
<div *ngIf="dateFormat === '2023-01-02'">
    Today is Putrada Ekadasi
</div>
<div *ngIf="dateFormat === '2023-01-18'">
    Today is Sattila Ekadasi
</div>
<div *ngIf="dateFormat === '2023-02-01'">
    Today is Jaya / Bhishma Ekadasi
</div>
<div *ngIf="dateFormat === '2023-02-17'">
    Today is Vijaya Ekadasi
</div>
<div *ngIf="dateFormat === '2023-03-03'">
    Today is Amalaki Ekadasi
</div>
<div *ngIf="dateFormat === '2023-03-18'">
    Today is Paapmochani Ekadasi
</div>
<div *ngIf="dateFormat === '2023-04-02'">
    Today is Kamada Ekadasi 
</div>
<div *ngIf="dateFormat === '2023-04-16'">
    Today is Varutini Ekadasi
</div>
<div *ngIf="dateFormat === '2023-05-01'">
    Today is Mohini Ekadasi
</div>
<div *ngIf="dateFormat === '2023-05-15'">
    Today is Apara Ekadasi
</div>
<div *ngIf="dateFormat === '2023-05-31'">
    Today is Nirjala Ekadasi
</div>
<div *ngIf="dateFormat === '2023-06-14'">
    Today is Yogini Ekadasi
</div>
<div *ngIf="dateFormat === '2023-06-29'">
    Today is Deva-Sayana / Padma Ekadasi
</div>
<div *ngIf="dateFormat === '2023-07-13'">
    Today is Kamika Ekadasi
</div>
<div *ngIf="dateFormat === '2023-08-27'">
    Today is Putrada / Pavitropana Ekadasi 
</div>
<div *ngIf="dateFormat === '2023-09-11'">
    Today is Aja / Annada Ekadasi
</div>
<div *ngIf="dateFormat === '2023-09-26'">
    Today is Parvartini / Parsva /Vamana Ekadasi
</div>
<div *ngIf="dateFormat === '2023-10-10'">
    Today is Indira Ekadasi
</div>
<div *ngIf="dateFormat === '2023-11-23'">
    Today is Haribhodini / Utthana Ekadasi
</div>
<div *ngIf="dateFormat === '2023-07-29'">
    Today is Adika masa - Padmini Ekadasi
</div>
<div *ngIf="dateFormat === '2023-08-12'">
    Today is Adhika masa - Parama Ekadasi
</div>
<app-footer></app-footer>