<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Bhagavatha Culture Preaching</a></li>
                        <li><a href="#">Imparting Happiness to Every Living Being</a></li>
                        <li><a href="#">Establishing Moral Principle as per Bhagavath Gita</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Iskcon Kanyakumari</a></li>
                        <li><a href="#">Sathsanga Program </a></li>
                        <li><a href="#">Contact Address</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Features</h3>
                    <ul>
                        <li><a href="#">Self Development</a></li>
                        <li><a href="#">Life success</a></li>
                        <li><a href="#">Benefits of self and all</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <img src="assets/images/socialMedia/yout.png" alt="">
                    <img src="assets/images/socialMedia/insta.png" alt="">
                    <img src="assets/images/socialMedia/faceboo.png" alt="">
                    <img src="assets/images/socialMedia/whatsAp.png" alt="">
                    <img src="assets/images/socialMedia/linked.png" alt="">
                    <p class="copyright">Iskcon Kanyakumari © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>