<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <img src="assets/images/socialMedia/yout.png" alt="">
                    <img src="assets/images/socialMedia/insta.png" alt="">
                    <img src="assets/images/socialMedia/faceboo.png" alt="">
                    <img src="assets/images/socialMedia/whatsAp.png" alt="">
                    <img src="assets/images/socialMedia/linked.png" alt="">
                    <p class="copyright">Iskcon Kanyakumari © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>