<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>தங்களுக்கு மூன்று விஷயங்கள்</h3>
                    <ul>
                        <li><a href="#">ஆச்சார்ய பக்தியால் கிருஷ்ணர் வசமாவார் </a></li>
                        <li><a href="#">ஹரிநாம சங்கீர்த்தனமே உன்னத யோகமாகும்</a></li>
                        <li><a href="#">தர்மத்தை காக்க முயல்பவனை தர்மம் காக்கும்</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>தொடர்புகொள்ள</h3>
                    <ul>
                        <li><a href="#">ஹரே கிருஷ்ணா தமிழ்</a></li>
                        <li><a href="#">சத்சங்க நிகழ்ச்சிகள்</a></li>
                        <li><a href="#">தொடர்புக்கு: +91 6382043976</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>கற்றுக்கொள்ளுங்களேன் </h3>
                    <ul>
                        <li><a href="#">கீர்த்தனம் பழகு </a></li>
                        <li><a href="#">கிருஷ்ண உணர்வை பழகு</a></li>
                        <li><a href="#">தர்மம் பழகு</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <img src="assets/images/socialMedia/yout.png" alt="">
                    <img src="assets/images/socialMedia/insta.png" alt="">
                    <img src="assets/images/socialMedia/faceboo.png" alt="">
                    <img src="assets/images/socialMedia/whatsAp.png" alt="">
                    <img src="assets/images/socialMedia/linked.png" alt="">
                    <p class="copyright">Iskcon Kanyakumari © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>