<div fxLayout="row wrap" class="allContent" fxLayoutAlign="start start">
<mat-card class="example-card  my-card-class" *ngFor="let lesson of ids" fxFlex.gt-sm="calc(33.33% - 10px)" fxFlex.lt-md="calc(50% - 10px)" fxFlex.lt-sm="100%">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><strong> கரத்தாள பாடங்கள்</strong></mat-card-title>
    <mat-card-subtitle>Contact- +91 6382043976</mat-card-subtitle>
  </mat-card-header>
  <!-- <youtube-player [videoId]="lesson" [playerVars]="playerVars" (ready)="savePlayer($event)"></youtube-player> -->
  <mat-card-content>
    <form class="example-form">
      <p>
        <mat-form-field class="example-full-width">
          <mat-label><strong> தங்களின் பெயர்</strong></mat-label>
          <input matInput value="">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label><strong> இந்த பாடம் தொடர்பான உங்கள் சந்தேகங்களை இங்கே தெரிவிக்கவும்</strong></mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
    </form>  
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent" (click)="toggleFullText()">
      {{ showFullText ? 'Show Less' : 'Show More' }}
    </button>
  </mat-card-actions>
</mat-card>
</div>