<div *ngFor="let lesson of lessons" class="full-width video-div">
    <div>
<youtube-player
[videoId]="lesson.id"
[playerVars]="playerVars"
(ready)="savePlayer($event)"
>

</youtube-player>
</div>
<div>
   <strong> கரதாளம் பாடம் {{lesson.sNo}}</strong>
</div>
<hr>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>தங்களின் பெயர்</mat-label>
        <input matInput placeholder="உதாரணம்: ஹரி கிருஷ்ணன் ...." value="">
      </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>இந்த பாடம் தொடர்பான உங்கள் சந்தேகங்களை இங்கே <mat-icon>arrow_downward</mat-icon> தெரிவிக்கவும்</mat-label>
      <textarea matInput placeholder="உதாரணமாக..... அந்த தாளத்தை எவ்வாறு வாசிப்பது ?...."></textarea>
    </mat-form-field>
  </form>  
</div>