.logo{
    width: 70px;
    margin-right: 8px;
}
.navigationBar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.nav-bar{
    box-shadow: 0px 2px 14px 2px #a76c6c;
  }
::ng-deep .mat-toolbar.mat-primary {
    background: #6f0404;
    color: #fff;
  }
.toolBtn{
    border: #6f0404 1px solid;
    border-radius: 4px;
    background-color: #4cc7e7;
    font-weight: bolder;
    font-size: 16px;
}
.signup{
    margin-right: 16px;
}
.example-icon, .login-container{
    display: flex;
    justify-content: space-around;
  }
@media (max-width: 450px){
    .nameOfSite{
        display: none !important;
    }
    .signup{
        margin-right: 16px;
    }
}