.logo{
    width: 70px;
    margin-right: 8px;
}
::ng-deep .mat-toolbar.mat-primary {
    background: #6f0404;
    color: #fff;
  }
.toolBtn{
    border: #6f0404 1px solid;
    border-radius: 4px;
    background-color: #4cc7e7;
    font-weight: bolder;
    font-size: 16px;
}
.example-icon, .login-container{
    display: flex;
    justify-content: space-around;
  }
@media (max-width: 450px){
    .nameOfSite{
        display: none !important;
    }
    .signup{
        margin-right: 16px;
    }
}