<div class="nav-bar navigationBar">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
      <div>

        <button mat-icon-button [matMenuTriggerFor]="animals" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-button routerLink="" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon></button>
      </div>
        <div fxLayout class="nameOfSite" fxLayoutAlign="center center"><img src="assets/images/logo.jpg" class="logo" alt="">Hare Krishna Tamil</div>
      <div class="example-icon">
        <p class="signup pt-1">{{userName}}</p>
        <button mat-icon-button class="signup" [ngStyle]="{ 'display': userName ? 'none' : 'block' }" (click)="openDialog()">
          Sign Up
        </button>
        <button mat-icon-button class="signup" [ngStyle]="{ 'display': userName ? 'none' : 'block' }" (click)="openLoginForm()">
          Sign in
        </button>
        <button class="signup" (click)="signOut()" [ngStyle]="{ 'display': !userName ? 'none' : 'block' }" mat-icon-button routerLink="">
          Sign Out
        </button>
      </div>
      </mat-toolbar>
    <mat-menu #animals="matMenu" >
        <div *ngFor="let route of allRouterPath">
            <button mat-menu-item class="toolBtn" [matTooltip]="route.routerPath" [routerLink]="route.routerLink">{{route.routerPath}}</button>

        </div>
        
      </mat-menu>
    </div>