<div class="bodyBG">
<div class="buttonDiv">
    <span mat-dialog-close class="closeBtn">X</span>
</div>
<div mat-dialog-title fxLayoutAlign="space-between">
    <p>May this day be a Krishna Conscious Day</p>
</div>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center">
<div style="font-size: 20px;">{{data.date}}</div>
<div style="font-size: 20px;" class="mt-3">{{data.title}}</div>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center">
    
    <p><button mat-raised-button color="primary" mat-dialog-close mat-dialog-close={{data.date}}>Srila Prabhupada Quotes on Ekadasi</button> </p>
    
</mat-dialog-actions>
<hr>
    <p>after clicking the button, Look at the bottom of calender</p>
</div>
