
<div class="container-max">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
          <img src="/assets/images/radakrishna.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" >
          @for (button of buttons; track button) {
            <button  [routerLink]="button.route" class="custom-button">{{ button.label }}</button>
          }
        </div>

      </div>
    </div>
    <marquee behavior="scrolling" direction="left" class="marq">
      <p>ஹரே கிருஷ்ண ஹரே கிருஷ்ண கிருஷ்ண கிருஷ்ண ஹரே ஹரே ஹரே ராம ஹரே ராம ராம ராம ஹரே ஹரே</p>
    </marquee>
    <div class="container d-flex justify-content-center content-navigators mt-3">
      <div class="coloum-title row">
        <div class="content-navigators col-6 col-md-4 col-lg-3">
          @for(item of items; track item){
            <div class="content-buttons" [routerLink]="item.routerLink">
              <img [src]="item.imgSrc" class="image-class" [alt]="item.altText">
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>