<div class="allContent">
  <p class="head-title">ஸ்ரீல பிரபுபாதரின் புத்தகங்கள்</p>
  <div class="body-sec">
    @for (book of books; track book) {
      <div class="particular-section">
        <h1>{{book.bname}}</h1>
        <div class="flex justify-between">
          <img [src]="book.imgsrc_fr" class="front-page" alt="">
          <img [src]="book.imgsrc_bc" class="back-page" alt="">
        </div>
        <div>
          <p class="description">{{book.detail}}</p>
          <button color="accent" (click)="scroll()"  mat-raised-button>இப்புத்தகத்தை வாங்க</button>
        </div>
      </div>
    }

  </div>
  <div id="down" class="footer-section">
    <h2>ஹரே கிருஷ்ண இயக்கம்</h2>
    <p class="description"> எண். 4,  தக்கலை,</p>
    <p class="description"> கன்னியாகுமரி மாவட்டம் - 629 175.</p>
    <p class="description">போன்: +91 9489796901</p>
    <hr>
      <h2>HARE KRISHNA MOVEMENT</h2>
      <p class="description">P.O.Box 4 Thuckalay Kanyakumari District – 629 175.</p>
      <p class="description">Ph: +91 9489796901</p>
    </div>
  </div>