
.body{
    padding: 16px;
    background-image: url(../../assets/images/tilak.png);
    background-size: 20px;
}
.mahaMantra{
text-shadow: 0px 0px 2px black;
font-weight: 900;
text-align: center;
color: #3b046e;
line-height: 7px;
}
.malaCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.malaTitle{
    font-weight: bolder;
    text-shadow: 0px 0px 2px rgb(243, 238, 238);
    background-color: blue;
    border: 2px solid rgb(179, 255, 0);
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    text-align: center;
}
.SideLine{
    border-right: 2px solid blue;

}
.malaCoutArea{
    background-color: yellow;
    width: 150px;
    font-size: 25px;
    height: 28px;
    color: rgb(104, 2, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid brown;
}
.mat-raised-button{
    line-height: 20px !important;
}
::ng-deep .mat-fab{
    width: 100px !important;
    height: 100px !important;
}
.chant-count{
    font-size: 25px;
}
mat-button-toggle.play_button{
    width: 60%;
    word-break: break-all;
}
.chant{
    background-color: blue;
    color: white;
    width: fit-content;
}

.prabhupadaImg{
    width: 100px;
}
.lordRadhaKrishna{
    width: 100px;
}
.japa-indicate{
    text-align: center;
    background-color: rgb(6, 95, 18);
    color: white;
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    font-size: 8px;
}
::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border-radius: 4px;
    background-color: green;
    color: white;
}
::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 12px !important;
    margin-top: 12px;
}