.logo{
    width: 70px;
    margin-right: 8px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .example-card {
    max-width: 400px;
  }
  
  .my-card-class {
    background-color: pink;
  }
  .example-header-image {
    background-image: url('../../../assets/images/srilaprabhupada.png');
    background-size: cover;
  }
  p, details {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }