.logo{
    width: 70px;
    margin-right: 8px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .example-card {
    max-width: 400px;
  }
  
  .mat-card {
    padding: 6px;
    margin: 4px;
    text-align: center;
    background-color: #a3ed8d;
    box-shadow: 0px 0px 20px 2px green;
  }
  .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px;
    font-weight: 700;
}
  .mat-card>.mat-card-actions:last-child {
    
    background-color: #030300d6;
    /* color: white; */
}
  .example-header-image {
    background-image: url('../../../assets/images/srilaprabhupad.jpeg');
    background-size: cover;
  }
  p, details {
    display: inline-block;
    white-space: wrap;
    max-width: 100%;
    font-size: 16px;
    font-weight: 900;
  }
  