<div class="design">
    <section>

        <h1 class="header1">ஸ்ரீல பிரபுபாதர்</h1>
        <div><img src="assets/images/walk.jpg" class="prabhupadaimage" alt=""></div>
       <p> புலனின்பமே பிரதானம்” என்ற மோகத்தில் மயங்கியோர் மத்தியில் ஆன்மீக விஷயங்களுக்கு புத்துயிரளித்து, மனித வாழ்வின்
        உண்மையான குறிக்கோளான கிருஷ்ண பக்தியைத் தூண்டி, குழப்பங்கள் குடிகொண்ட கலி யுகத்தின் தற்போதைய நிலைக்குத் தகுந்தாற்
        போல கிருஷ்ண பக்தி வாழ்க்கையை நடைமுறைப்படுத்தி, பகவான் ஸ்ரீ கிருஷ்ணரின் இருப்பிடத்திற்கு உயிர்வாழிகளைக் கொண்டு
        சேர்க்க வேண்டும் என்ற ஒரே குறிக்கோளுடன் தன் வாழ்நாள் முழுவதும் அரும்பாடுபட்ட ஆன்மீக குருவே ஸ்ரீல பிரபுபாதர்.
        </p>
          <h2 class="header">தோற்றம் :</h2>
        <p>
        ஸ்ரீல பிரபுபாதர் என்று அனைவராலும் அழைக்கப்படும் தெய்வத்திரு. அபய சரணாரவிந்த பக்திவேதாந்த சுவாமி அவர்கள், 1896
        ஆம் ஆண்டு செப்டம்பர் முதல் நாள் கல்கத்தாவில், கௌர் மோகன் தே மற்றும் ரஜனி என்போரின் நன்மகனாய் பிறந்தார். அவருக்கு
        பெற்றோர் இட்ட பெயர், அபய் சரண் தே. அவரின் ஜாதகத்தை கணித்த ஜோதிடர், வருங்காலத்தில் இக்குழந்தை கடல் கடந்து சென்று,
        மிகப்பெரிய ஆன்மீக குருவாகி, 108 கோவில்களை நிறுவுவார் என்று முன்னுரைத்தார்.
        </p>
        <h2 class="header">இளமைப்பருவம் :</h2>
        <p>
            <img src="assets/images/prabhu.jpg" class="prabhupadaimage" alt="">
        அபயின் தந்தை அவருக்கு சிறுவயதிலிருந்தே பக்தி நெறிகளை ஊட்டி வளர்த்தார். ஸ்ரீராதாகிருஷ்ணருக்கு பூஜைகள் செய்வது
        பற்றியும் சைதன்ய மஹாபிரபுவைப் பற்றியும் அவரது போதனைகளை நடைமுறைப்படுத்த வேண்டியதன் அவசியத்தையும் மிக உறுதியாக
        உரைத்து வளர்த்தார். இவையெல்லாம் அபயின் மனதில் ஆழமாகப் பதிந்தன. அவரது மனதை சிறு வயதிலேயே கவர்ந்த விஷயம்,
        கல்கத்தாவில் வருடந்தோறும் நடை பெறும் ஜகன்னாதரின் ரதயாத்திரை. தன் தந்தையிடம் சொல்லி, தானே சிறிய ரதம் ஒன்றினைச்
        செய்து, நண்பர்களுடன் கூடி, ஜகன்னாதரின் ரதயாத்திரையை அபய் மிகக் கோலாகலமாக நடத்தினார். ராதாகிருஷ்ண விக்ரஹங்களுக்கு
        பூஜை செய்தல், நைவேத்யம் செய்தல் போன்றவற்றை தந்தையிடமிருந்து கற்று, அதன்படி கிருஷ்ண பிரசாதத்தை உண்டு வந்தார்.
    </p>
        
        <h2 class="header">
        சுதந்திரப் போராட்டம் :
        </h2>
        <p>
        கல்லூரிக் கல்வி பயின்றபோது அபய், காந்தியக் கொள்கைகளால் கவரப்பட்டார். இந்திய சுதந்திரப் போரில் தானும் பங்கு
        கொண்டு வெள்ளையரை எதிர்த்துப் போராட விரும்பினார். கல்லூரியில் அவருக்கு ஒரு வருடம் முன்னால் படித்துக் கொண்டிருந்த
        சுபாஷ் சந்திரபோஸ் சுதந்திரப் போராட்ட எண்ணத்தை அவரிடம் வளர்த்தார். அரசியலில் ஈடுபாடு இல்லாத போதும் சுதந்திரப்
        போராட்டத்தின் மேல் அவருக்கு ஆர்வம் ஏற்பட்டது. சாதுவைப் போல வாழ்ந்ததாலும் பகவத் கீதையைப் பின்பற்றியதாகக்
        கூறியதாலும், அபய்க்கு காந்தியின் மேல் ஒரு தனிப்பட்ட ஈடுபாடு ஏற்பட்டது. சுதந்திரப் போராட்டத்தில் அபய் ஈடுபடுவது,
        அவரது தந்தையான கௌர் மோகனுக்கு கவலையளித்தது. மூன்றாம் வருட கல்லூரிப் படிப்பின் போது, ராதாராணி தத்தா என்னும்
        பெண்ணை கௌர் மோகன் அபய்க்கு திருமணம் செய்து வைத்தார். சுதந்திரப் போராட்ட எண்ணத்தின் காரணத்தால், ஆங்கிலேயர் அளித்த
        பட்டத்தை வாங்க அபய் மறுத்து விட்டார்.
        </p>
       
        <h2 class="header">
        பக்திசித்தாந்தருடன் சந்திப்பு :
        </h2>
        <p>
            <img src="assets/images/spiritual-master.jpg" class="prabhupadaimage" alt="">
        அபய் கல்லூரியில் பட்டம் வாங்க மறுத்துவிட்ட போதிலும், கௌர் மோகன் தனது நண்பர் ஒருவரின் முலம் அவருக்கு ஓர் இரசாயனத்
        தொழிற்சாலையில் வேலை வாங்கிக் கொடுத்தார். அங்கு வேலை பார்த்து வந்த சமயத்தில், 1922ல் அபயின் நண்பர் ஒருவர் அவரை
        ஒரு சாதுவிடம் அழைத்துச் செல்ல விரும்பினார். அபய்க்கு அதில் ஈடுபாடு இல்லாவிட்டாலும், நண்பனின் பிடிவாதத்தால், அந்த
        சாதுவைச் சந்திக்க கௌடிய மடத்திற்குச் சென்றார். அந்த சந்நியாசியின் பெயர், ஸ்ரீல பக்திசித்தாந்த சரஸ்வதி தாகூர்,
        பிரம்மதேவரிடமிருந்து தொடங்கி குரு சீடப் பரம்பரை வாயிலாக பகவான் சைதன்யரின் வழி வந்த அங்கீகரிக்கப்பட்ட ஆச்சாரியர்
        அவர். அவரே தனது வாழ்க்கையை மாற்றப்போகும் மஹான் என்பதை அபய் அப்போது அறியவில்லை. அபயும் அவரது நண்பரும்
        சாஷ்டாங்கமாக நமஸ்காரம் செய்து எழுவதற்கு முன்பே, ஸ்ரீல பக்திசித்தாந்த சரஸ்வதி, கல்வி கற்ற இளைஞர்களான நீங்கள்,
        சைதன்ய மஹாபிரபுவின் போதனைகளை மேல்நாடுகளில் ஏன் பரப்பக் கூடாது?” என வினவினார். அவரது கேள்வியினால் ஆச்சரியமுற்ற
        அபய், இந்தியா அடிமைப்பட்டு இருக்கும் பட்சத்தில் நமது ஆன்மீகச் செய்திகளை யார் கேட்பர் என்று வாதம் செய்தார்.
        கிருஷ்ண பக்தி எவ்வித அரசியல் சூழ்நிலைக்கும் உட்பட்டதல்ல என்பதை ஸ்ரீல பக்திசித்தாந்த சரஸ்வதி தத்துவப்பூர்வமாக
        விளக்கியதால், திருப்தியுற்ற அபய், அவர்மீது மிகுந்த நாட்டம் கொண்டு, அவர் ஓர் உண்மையான சாது என்பதை உணர்ந்தார்.
        பக்திசித்தாந்த சரஸ்வதியைத் தனது ஆன்மீக குருவாக ஏற்றுக் கொண்டு, அவரது வழியில் நடக்க உறுதி பூண்டார். காலப்போக்கில்
        அபய் தனது குருவின் மடத்திற்காக பற்பல தொண்டுகளை ஆற்றி வந்தார், 1933ல் முறையாக தீட்சையும் பெற்றார். ஆன்மீக
        ஸ்தலங்களிலேயே மிகவும் புனிதமானதாகக் கருதப்படும் ராதா குண்டத்தின் கரையில், 1935ல் ஸ்ரீல பக்திசிந்தாந்தர் அபயிடம்,
        உன்னிடம் எப்போது பணம் கிடைத்தாலும், புத்தகங்களை அச்சடித்து விநியோகம் செய்” என்று மற்றுமொரு முக்கியமான உபதேசத்தை
        அளித்தார். பின்னர், 1937ல் பக்திசித்தாந்தர் இவ்வுலகினை விட்டுச் சென்றார்.
    </p>
    <h2 class="header">
        பத்திரிகையின் மூலம் பிரச்சாரம் :
    </h2>
    <p>
        <img src="assets/images/reporter.jpg" class="prabhupadaimage" alt="">
        தனது ஆன்மீக குருவின் கட்டளைகளை அடிக்கடி நினைவு கூர்ந்த அபய், அவற்றை நிறைவேற்றும் பணியில் இறங்கினார். 1944ல்,
        Back To Godhead என்னும் பத்திரிகையினைத் தொடங்கி, உலகில் நிலவும் பிரச்சனைகளையும் அதற்கான தீர்வுகளையும்
        சாஸ்திர கண்ணோட்டத்துடன் தனது குருவைப் போலவே துணிச்சலுடன் எழுதத் தொடங்கினார். (அந்த பத்திரிகை இன்றும் அவரது
        சீடர்களால் தொடர்ந்து நடத்தப்பட்டு வருகிறது, அதனை அடிப்படையாகக் கொண்டதே தற்போது தமிழில் வெளிவரும் பகவத் தரிசனம்.)
        தன்னுடைய வீட்டின் முன்னறையில் உட்கார்ந்தபடியே சிந்திப்பது, எழுதுவது, டைப் செய்வது போன்ற வேலைகளை செய்து வந்தார்.
        பத்திரிகை நடத்த பணம் புரட்ட முடியாத நிலையிலும், அதனை அச்சடித்து அவரே தெரு தெருவாகச் சென்று விநியோகமும் செய்து
        வந்தார்.
    </p>
    <h2 class="header">
        சந்நியாசம் மேற்கொள்ளல் :
    </h2>
    <p>
        <img src="assets/images/sanyasa.jpg" class="prabhupadaimage" alt="">
        தனது ஆன்மீக குருவின் கட்டளைகளை அடிக்கடி நினைவு கூர்ந்த அபய், அவற்றை நிறைவேற்றும் பணியில் இறங்கினார். 1944ல்,
        க்ஷயஉம வடி ழுடினாநயன என்னும் பத்திரிகையினைத் தொடங்கி, உலகில் நிலவும் பிரச்சனைகளையும் அதற்கான தீர்வுகளையும்
        சாஸ்திர கண்ணோட்டத்துடன் தனது குருவைப் போலவே துணிச்சலுடன் எழுதத் தொடங்கினார். (அந்த பத்திரிகை இன்றும் அவரது
        சீடர்களால் தொடர்ந்து நடத்தப்பட்டு வருகிறது, அதனை அடிப்படையாகக் கொண்டதே தற்போது தமிழில் வெளிவரும் பகவத் தரிசனம்.)
        தன்னுடைய வீட்டின் முன்னறையில் உட்கார்ந்தபடியே சிந்திப்பது, எழுதுவது, டைப் செய்வது போன்ற வேலைகளை செய்து வந்தார்.
        பத்திரிகை நடத்த பணம் புரட்ட முடியாத நிலையிலும், அதனை அச்சடித்து அவரே தெரு தெருவாகச் சென்று விநியோகமும் செய்து
        வந்தார்.
    </p>
    <h2 class="header">
       அமெரிக்கப் பயணம் :
    </h2>
<p>
    <!-- <img src="assets/images/america.jpg" class="prabhupadaimage" alt=""> -->
        சந்நியாசம் பெற்ற பின்னர், தன் முழு நேரத்தையும் பக்திவேதாந்த சுவாமி ஸ்ரீமத் பாகவதத்திற்கு ஆங்கிலத்தில் உரை
        எழுதுவதில் செலவழித்தார். பலவித சிரமங்களுக்கிடையே பாகவதத்தின் மூன்று பெரிய பாகங்களை தயார் செய்தார். அவற்றை
        அச்சடித்த பின்னர், மேல்நாடுகளில் கிருஷ்ண பக்தியை பிரச்சாரம் செய்வதற்கான ஏற்பாடுகளை மிகவும் மும்முரமாகச் செய்ய
        ஆரம்பித்தார். பற்பல முயற்சிகளுக்குப் பின், அமெரிக்காவில் வசித்து வந்த கோபால் அகர்வால் என்பவர் பக்திவேதாந்த
        சுவாமி அங்கு வருவதற்குத் தேவையான கடிதத்தை வழங்க, விசாவும் பி பாரமும் கிடைத்தன. ஸிந்தியா கப்பல் கம்பெனியின்
        முதலாளியான திருமதி சுமதி மொரார்ஜி தனது சரக்குக் கப்பலில் பயணம் செய்ய அவருக்கு இலவச டிக்கட் கொடுத்தார்.
        பக்திவேதாந்த சுவாமியின் நீண்ட நாள் கனவு நனவாக, 1965, ஆகஸ்ட் 13ம் நாள் கல்கத்தாவிலிருந்து ஜலதூதா என்ற சரக்குக்
        கப்பலில் அமெரிக்கா நோக்கிப் புறப்பட்டார். கடல்காற்று ஒத்துக் கொள்ளாமல், கப்பலில் அவருக்கு மயக்கம், வாந்தி போன்ற
        பலவித இன்னல்கள் ஏற்பட் டன, எல்லாவற்றிற்கும் மேலாக இருமுறை மாரடைப்பு வந்தது. தன்னுடைய பயணத் தைத் தொடர முடியுமா
        என்று பக்திவேதாந்த சுவாமி வருத்தப்பட, கிருஷ்ணர் அன்றிரவே அவரின் கனவில் தோன்றி கவலைப்படாமல் பயணத்தைத் தொடரலாம்
        என்றும் தான் உதவி செய்வதாகவும் உறுதியளித்தார். இவ்வாறு, முப்பத்தைந்து நாள்கள் பயணத்திற்குப் பின், செப்டம்பர்
        19ம் நாள் நியூயார்க் நகரின் புரூக்ளின் துறைமுகத்தை பக்திவேதாந்த சுவாமி அடைந்தார்.
    </p>
    <h2 class="header">
        அமெரிக்க மண்ணில் கிருஷ்ண பக்தி :
    </h2>
    <p>
        <img src="assets/images/hippies.jpeg" class="prabhupadaimage" alt="">
        அமெரிக்க மண்ணில் இறங்கிய பக்திவேதாந்த சுவாமியிடம் பணமும் இல்லை, ஆட்களும் இல்லை; இடது பக்கம் செல்ல வேண்டுமா வலது
        பக்கம் செல்ல வேண்டுமா என்பதைக் கூட அறியாதவராய் இருந்தார், எனினும் எல்லாவற்றையும் அறிந்த கிருஷ்ணரை அவர்
        அறிந்திருந்ததால், அவர் துணிவுடன் இருந்தார். சுமார் ஒருமாத காலம் பெனிசில்வேனியாவில் உள்ள அகர்வால் என்பவரின்
        வீட்டில் தங்கியிருந்த பக்திவேதாந்த சுவாமியை பத்திரிகைகள், ஸ்வாமிஜி என்று குறிப்பிட்டு, அவரின் எளிமை பற்றியும்
        சமைக்கும் விதம் பற்றியும் விமர்சித்து புகைப்படங்களையும் வெளியிட்டன. அதன் பின், பிரச்சாரம் செய்வதற்கு வசதியாக
        இருக்கும் என்பதால், நியூயார்க் நகரில் டாக்டர் மிஸ்ரா என்பவரது வீட்டில் தங்கினார். மிஸ்ராவின் மாயாவாத கொள்கைகள்
        ஒத்துவராததால், அங்கிருந்து கிளம்பி, சமுதாயத்தை உதறித் தள்ளிய ஹிப்பிக்கள் என்றழைக்கப்பட்ட இளைஞர்களும் யுவதிகளும்
        பெருமளவில் தங்கியிருந்த பவுரி என்னும் இடத்திற்குக் குடிபெயர்ந்தார். இந்தியாவில் கலாச்சாரம் நிறைந்த சூழ்நிலையில்
        வாழ்ந்து வந்த பக்திவேதாந்த சுவாமி, பவுரியில் அதற்கு நேர்மாறான சூழலில் வசிக்க நேர்ந்ததுஶீஇளைஞர்களும் யுவதிகளும்
        போதை வஸ்துக்கள், மாமிச உணவு, தகாத பாலுறவு, சூதாட்டம் என பாவ வாழ்க்கை வாழ்ந்து வந்தனர். பகவான் சைதன்யரின்
        கருணையால் அனைவரும் கிருஷ்ண பக்தர்களாக முடியும் என்ற உறுதியான நம்பிக்கையுடன், பக்திவேதாந்த சுவாமி, திங்கள்,
        புதன், வெள்ளிக் கிழமைகளில் அங்கு வருபவர்களுக்கு பகவத் கீதை மற்றும் பாகவதத்திலிருந்து உரையாற்றினார். இவற்றைக்
        கேள்விப்பட்ட பல இளைஞர்கள், அங்கு வந்து பாடவும் அவருடைய உரைகளைக் கேட்கவும் ஜபம் செய்யவும் ஆரம்பித்தனர். ஹிப்பிகளை
        கிருஷ்ண பக்தர்களாக மாற்றிய பக்திவேதாந்த சுவாமியின் சாதனையை பல்வேறு பத்திரிக்கைகளும் பாராட்டி செய்திகள்
        வெளியிட்டன.
    </p>
    <p>
        காலப்போக்கில், பக்திவேதாந்த சுவாமி, வகுப்புகள் நடத்த உகந்த இடமாகக் கருதப்பட்ட நியூயார்க்கின் லோயர் ஈஸ்ட்
        சைடிற்கு தனது பணிகளை மாற்றினார். அங்கு சொற்பொழிவுகளும் பஜனைகளும் நடைபெற பலர் வந்து போக ஆரம்பித்தனர். அவர்களில்
        பலர் பக்திவேதாந்த சுவாமியிடம் தீட்சை பெற்று சீடர்களாயினர். அங்கிருந்த ஒரு பூங்காவில் சுவாமியும் அவரது சீடர்களும்
        மிகப்பெரிய கீர்த்தனை ஒன்றை நடத்த, அன்றிலிருந்து சொற்பொழிவிற்கு வருபவர்களின் எண்ணிக்கை மிகவும் அதிகமானது. இவ்வாறு
        அமெரிக்க மண்ணில் கிருஷ்ண பக்தி வேரூன்றத் தொடங்கியது.
    </p>
    <h2 class="header">
        இஸ்கானின் தோற்றம் :
    </h2>
    <p>
        <img src="assets/images/devot.jpg" class="prabhupadaimage" alt="">
        கிருஷ்ண பக்தர்களின் கீர்த்தனைகளும் தத்துவங்களும் நாளுக்கு நாள் அமெரிக்க மக்களிடத்தில் பேராதரவை பெற ஆரம்பித்தன.
        இச்சூழ்நிலையில், கிருஷ்ண பக்தியை மேலும் வளர்க்கும் பொருட்டு, அகில உலக கிருஷ்ண பக்தி இயக்கம், இஸ்கான் (The
        International Society for Krishna Consciousness, ISKCON) என்னும் ஓர் இயக்கத்தை பக்திவேதாந்த சுவாமி அறிவித்து
        பதிவு செய்தார். அவருடைய சீடர்கள் அனைவரும் கிருஷ்ண பக்தி இயக்கத்தின் பிரச்சாரத்தில் தீவிரமாக ஈடுபட்டனர், மீண்டும்
        Back to Godhead பத்திரிகையைத் துவக்கி பிரச்சாரத்தை மிகவும் தீவிரப்படுத்தினர். இச்சூழ்நிலையில் பக்திவேதாந்த
        சுவாமி அவர்கள், உயர்ந்த ஆச்சாரியர்களுக்கு வழங்கப்படும் பிரபுபாதர்” என்னும் பட்டத்தை ஏற்றுக் கொண்டார்.
    </p>
    <h2 class="header">
        அமெரிக்காவில் இஸ்கானின் வளர்ச்சி : 
    </h2>
    <p>
        <img src="assets/images/rath.jpg" class="prabhupadaimage" alt=""> 
        கிருஷ்ண பக்தி இயக்கம் நியூயார்க் நகரத்தோடு நின்றுவிடக் கூடாது என்றும், பல இடங்களிலும் பரவ வேண்டும் என்றும்
        விரும்பிய ஸ்ரீல பிரபுபாதர், தனது சீடர்களை சான்பிரான்சிஸ்கோவிற்கு அனுப்பி வைத்தார். பின்னர் பிரபுபாதரும் அங்கு
        சென்று பிரச்சாரம் செய்ய, கிருஷ்ண பக்தி மேன்மேலும் வளர்ந்தது. அவ்வளர்ச்சியின் சிகரமாக, பிரபுபாதரின்
        மேற்பார்வையில் மிகவும் பிரம்மாண்டமான ரதயாத்திரை ஒன்றினை பக்தர்கள் சீரும் சிறப்புமாக நடத்தினர். இதனைத் தொடர்ந்து
        அமெரிக்காவின் பல்வேறு நகரங்களிலும் கிருஷ்ண பக்தி பரவத் தொடங்கியது, பல்வேறு இடங்களில் ரதயாத்திரையும் நடைபெற்றது.
        மேலை நாடுகளில் முதன்முதலில் ரதயாத்திரை நடத்திய பெருமையையும் ராதாகிருஷ்ண விக்ரஹங்களை பிரதிஷ்டை செய்த பெருமையையும்
        பெற்றார் ஸ்ரீல பிரபுபாதர்.
    </p>
    <h2 class="header">
        ஐரோப்பாவில் இஸ்கான் :
    </h2>
    <p>
        <img src="assets/images/george.jpg" class="prabhupadaimage" alt="">
        லண்டனில் ஒரு மையம் துவக்க வேண்டும் என்ற ஆவல் பக்தர்களிடம் எழ, அதனை அவர்கள் பிரபுபாதரிடம் வெளிப்படுத்தினர்.
        லண்டனில் பிரச்சாரம் செய்ய மூன்று இளம் தம்பதிகளை ஸ்ரீல பிரபுபாதர் அனுப்பி வைத்தார். ஆனால் அங்கு பிரச்சாரம்
        செய்வது அவ்வளவு சுலபமாக இல்லை. பிரபுபாதர் அங்குச் சென்றிருந்த சமயத்தில், கிருஷ்ணரின் கருணையால், பீட்டில்ஸ்
        என்னும் பிரபல இசைக்குழுவைச் சார்ந்த ஜார்ஜ் ஹாரிஸன் என்பவரை பிரபுபாதரின் சீடரான சியாமசுந்தர தாஸ் சந்தித்தார்.
        கிருஷ்ண பக்தியின் தத்துவங்கள் ஜார்ஜிற்கு பிடித்திருந்ததால், ஹரே கிருஷ்ண மஹாமந்திரத்தைப் பாடி பதிவு செய்து
        இசைத்தட்டாக வெளியிட்டார். அந்த இசைத்தட்டு மிகவும் பிரபலமடைய, லண்டன் மட்டுமின்றி ஐரோப்பா முழுவதிலும் கிருஷ்ண
        பக்தி வெகு விரைவாகப் பரவத் தொடங்கியது. லண்டனில் ராதாகிருஷ்ண விக்ரஹங்களை ஸ்ரீல பிரபுபாதர் மிகவும் விமரிசையான
        முறையில் பிரதிஷ்டை செய்த காட்சியை பிபிசி தொலைக்காட்சி நேரடியாக ஒளிபரப்பியது.
    </p>
    <h2 class="header">
        இந்தியாவில் இஸ்கான் :
    </h2>
    <p>
        <img src="assets/images/india.jpg" class="prabhupadaimage" alt="">
        மேற்கத்திய நாடுகளில் வெற்றியைக் கண்ட ஸ்ரீல பிரபுபாதர், தனது மேற்கத்திய நாட்டு சீடர்களை இந்தியாவிற்கு அழைத்து
        வந்து பிரம்மாண்டமான முறையில் பல்வேறு நிகழ்ச்சிகளை நடத்தினார். 1970ம் ஆண்டு ஆகஸ்டு மாதத்தில் கல்கத்தா டல்ஹௌசி
        சதுக்கத்தில் நடைபெற்ற கீர்த்தனம் இந்திய மக்களை ஆச்சரியத்தில் ஆழ்த்தியது. படிப்படியாக ஹரே கிருஷ்ண இயக்கம்
        இந்தியாவிலும் வேரூன்ற ஆரம்பித்தது. அதே ஆண்டின் அக்டோபர் மாதத்தில் பம்பாயில் தொடர்ந்து சில தினங்கள் நடைபெற்ற
        நிகழ்ச்சிகளும் அதில் ஸ்ரீல பிரபுபாதர் ஆற்றிய உரைகளும் மக்கள் மத்தியில் பெரும் வரவேற்பைப் பெற்றன. கிருஷ்ணரின்
        திருநாமங்களை பாடி ஆடுவதே ஆன்மீக வாழ்வின் உயர்நிலை என்பதை மக்களுக்கு உணர்த்திய பிரபுபாதர், தன் அமெரிக்க
        சிஷ்யர்களை அத்தகு கீர்த்தனத்தில் ஈடுபட வைத்து மிகச்சிறந்த முத்திரையைப் பதித்தார். அதனைத் தொடர்ந்து டிசம்பர்
        மாதத்தில் சூரத் நகரில் நடைபெற்ற மாபெரும் கீர்த்தன நிகழ்ச்சி ஒரு கோலாகலமான விழாவாக அமைந்தது. பல்வேறு
        பிரச்சனைகளுக்கு மத்தியில் பம்பாய் நகரின் ஜுஹு கடற்கரையில் பிரபுபாதர் கிருஷ்ணருக்கு ஆலயம் அமைக்க நிலத்தைப்
        பெற்று, கோவில் கட்டுமானப் பணிகள் தொடங்கின. சைதன்ய மஹாபிரபு தோன்றிய மாயாப்பூரிலும், கிருஷ்ணர் லீலை புரிந்த
        விருந்தாவனத்திலும் உலகமே வியக்கும் வண்ணம் கோயில் கட்டி அனைத்து உலக பக்தர்களும் விழாக்காலங்களில் ஒன்றுகூடி
        கிருஷ்ணருக்கு தொண்டு செய்ய வேண்டும் என்று விரும்பிய பிரபுபாதர், அக்கோவில்களை வெகு விரைவில் கட்டினார். மேலும்
        ஐதராபாத், நெல்லூர், சென்னை, திருப்பதி, அலகாபாத், புவனேஸ்வர், புதுடில்லி உட்பட இந்தியாவின் பற்பல இடங்களுக்கும்
        பயணம் செய்த அவர் கிருஷ்ண பக்தி இந்தியாவில் நன்கு பரவுவதைக் கண்டு மகிழ்ச்சியடைந்தார்.
    </p>
    <h2 class="header">
        உலகெங்கிலும் இஸ்கான் :
    </h2>
    <p>
        <img src="assets/images/sidney.jpg" class="prabhupadaimage" alt="">
        1971, மே மாதத்தில் ஆஸ்திரேலியாவின் சிட்னி நகருக்கு விஜயம் செய்த பிரபுபாதர், அங்கு ஏற்கனவே செயல்பட்டு வந்த
        பிரச்சார மையங்களில் இருந்த பக்தர்களுக்கு உற்சாகமளித்து ஊக்கப்படுத்தினார். இவ்வாறு உலகின் அனைத்து இடங்களுக்கும்
        அவ்வப்போது சென்று அங்கிருந்த சீடர்களை அவர் வழிநடத்தினார். ரஷ்யாவின் மாஸ்கோ நகருக்குச் சென்ற பிரபுபாதர் அங்கும்
        கிருஷ்ண பக்திக்கு வித்திட்டார். ரஷ்யாவில் கிருஷ்ண உணர்வைப் பிரச்சாரம் செய்வது மிகவும் கடினமானதாக இருந்தது.
        (தற்போது ரஷ்யாவில் ஆயிரக் கணக்கான பக்தர்கள் கிருஷ்ண பக்தியைப் பயின்று வருகின்றனர்)
    </p>
    <p>
        பிரபுபாதர் தனது சீடர்களில் ஒருவரான பிரம்மானந்த ஸ்வாமியை ஆப்பிரிக்கர்களுக்கும் ஆப்பிரிக்காவில் வாழும்
        இந்தியர்களுக்கும் பிரச்சாரம் செய்வதற்காக ஆப்பிரிக்காவிற்கு அனுப்பினார். ஆப்பிரிக்கா கண்டம் முழுவதும் கிருஷ்ண
        உணர்வைப் பரப்புவதற்கான முழு திட்டத்தையும் வகுத்துக் கொடுத்த ஸ்ரீல பிரபுபாதர், தானும் அங்கு சென்று பிரச்சாரம்
        செய்தார்.
    </p>
    <p>
        கிருஷ்ண பக்தியை உலகெங்கிலும் பரப்பும் பணியில் பிரபுபாதர் என்றுமே சோர்வடைந்ததில்லை. பதினொரு வருடங்களில் இவ்வுலகை
        பன்னிரண்டு முறை வலம் வந்து, அனைவரும் வியக்கும் வண்ணம் தனித்தன்மையான 108 கோவில்களை உலகம் முழுவதும்
        நிர்மாணித்தார். இதன் மூலம் கிருஷ்ண பக்தி என்னும் கிடைத்தற்கரிய பொக்கிஷத்தை உலக உயிர்வாழிகளுக்கு வழங்கினார்.
        இஸ்கானை நிர்வகிப்பதற்காக ஜிபிஸி என்னும் குழுவினை ஏற்படுத்தி, உலகினைப் பல்வேறு பிராந்தியங்களாகப் பிரித்து ஒவ்வொரு
        பிராந்தியத்திற்கும் ஒவ்வொரு பக்தரை பொறுப்பாளராக அமர்த்தினார்.
    </p>
    <h2 class="header">
        ஸ்ரீல பிரபுபாதரின் புத்தகங்கள் :
    </h2>
    <p>
        <img src="assets/images/sp-books.jpg" class="prabhupadaimage" alt="">
        பல்வேறு பொக்கிஷங்களை மக்களுக்கு அளித்த இந்த மகானின் மாபெரும் பொக்கிஷம் அவரது புத்தகங்கள். அயராது அகிலமெங்கும்
        பயணித்த பிரபுபாதர் தன் இலக்கியப் பணியை என்றுமே நிறுத்தியதில்லை. பல்வேறு புத்தகங்களை எழுதிய ஸ்ரீல பிரபுபாதர்
        அப்புத்தகங்களை தனது உயிர் மூச்சாகக் கருதினார்; பகவத் கீதை, ஸ்ரீமத் பாகவதம், சைதன்ய சரிதாம்ருதம் போன்றவை அவற்றில்
        மிகவும் முக்கியமானவை. தனது குருவின் ஆணையை சிரமேற்கொண்டு அப்புத்தகங்கள் பாரெங்கிலும் பரவப் பாடுபட்டார். புத்தக
        விநியோகத்தினால் தனது குரு திருப்தியடைவார் என்பதை உறுதியாக அறிந்திருந்த பிரபுபாதர் தனது சீடர்களிடம், என்னைத்
        திருப்தி செய்ய வேண்டுமெனில் புத்தகங்களை விநியோகம் செய்யுங்கள்” என்று கட்டளையிட்டார். பக்திவேதாந்த புத்தக
        அறக்கட்டளை (க்ஷக்ஷகூ) என்னும் ஓர் அறக்கட்டளையைத் தொடங்கி புத்தகங்கள் அச்சடிப்பதை முறைப்படுத்தினார்.
    </p>
    <h2 class="header">
        பிரபுபாதரின் மறைவு :
    </h2>
    <p>
        <img src="assets/images/deathbed.jpg" class="prabhupadaimage" alt="">
        தனது முதிர்ந்த வயதில் பிரச்சார பணியினை அயராது செயல்படுத்திய பிரபுபாதர் அவ்வப்போது உடல்நிலைக் கோளாறுகளை சந்தித்து
        வந்தார். 1977ம் ஆண்டில் அவரது உடல்நிலை மிகவும் மோசமடைய அவர் விருந்தாவனம் வந்தடைந்தார். எவ்வித மருந்துகளையும்
        மருத்துவர்களையும் நாடாமல், எவ்வாறு இவ்வுலகை விட்டுச் செல்வது என்னும் கடைசி பாடத்தை தனது சீடர்களுக்கு விளக்கத்
        தீர்மானித்தார். அதன்படி, தொடர்ந்து இடைவிடாமல் கீர்த்தனம் செய்து கொண்டிருந்த பக்தர்களின் மத்தியில், ஸ்ரீல
        பிரபுபாதர் நவம்பர் 14ம் நாள், இரவு ஏழரை மணியளவில் விருந்தாவனத்திலுள்ள தனது அறையிலிருந்து இவ்வுலகை விட்டு
        புறப்பட்டு கிருஷ்ண லோகம் சென்றடைந்தார்.

    </p>
    <h2 class="header">
        அனைவரின் நலனையும் விரும்பிய ஸ்ரீல பிரபுபாதர் :
    </h2>
    <p>
        சாதி, மதம், இனம், மொழி என எந்தவொரு வேறுபாடுமின்றி, உலக மக்கள் அனைவரும் கூடி வாழ இல்லம் அமைத்த முதல் ஆன்மீக குரு
        ஸ்ரீல பிரபுபாதரே என்றால் அது மிகையாகாது. கிருஷ்ண உணர்வின் தத்துவங்களை மிகவும் ஆணித்தரமாக எடுத்துரைத்தும்,
        போலியான கொள்கைகளை எதிர்த்து பலமாக வாதிட்டும், ஸ்ரீல பிரபுபாதர் ஒரு மிகச்சிறந்த பக்தர் எப்படி இருக்க வேண்டும்
        என்பதை வாழ்ந்து காட்டினார். அவர் இவ்வுலகிலிருந்து மறைந்து விடவில்லை, அவரது புத்தகங்களின் வாயிலாக இன்றும் மனித
        சமுதாயத்தை வழிநடத்திக்கொண்டுதான் உள்ளார். ஸ்ரீல பிரபுபாதருக்கும் அவர் கொண்டுவந்த புரட்சிகரமான கிருஷ்ண பக்தி
        வாழ்க்கை முறைக்கும் என்றுமே மறைவில்லை. கிருஷ்ணரின் நேரடிப் பிரதிநிதியான ஸ்ரீல பிரபுபாதர் தன் வாழ்நாள் முழுவதும்
        கிருஷ்ண பக்தியைப் பரப்புவதில் செலவழித்து, தன் குருவின் ஆணையையும் பகவான் ஸ்ரீ சைதன்ய மஹாப்பிரபுவின்
        விருப்பத்தையும் பூர்த்தி செய்தார். பாரெங்கும் பக்தியைப் பரப்பப் பாடுபட்ட பிரபுபாதரின் பாதச்சுவடுகளைப் பின்பற்றி
        அனைவரும் பரம பதம் அடைய முடியும்.
        (ஸ்ரீல பிரபுபாதரின் முழு வாழ்க்கை வரலாற்றுப் புத்தகம், இஸ்கான் கோவில்களில் கிடைக்கும். பக்தர்கள் வாங்கி படித்து
        பயன்பெறுதல் நலன்.
    </p>
    <h2 class="header">ஸ்ரீல பிரபுபாதரின் சாதனைகள்:</h2>
        
    <p>ஸ்தாபிக்கப்பட்ட கோயில்களின் எண்ணிக்கை = 108</p>
    <p>
        புத்தகங்கள் இயற்றியது = 80;
        </p>
        <p>
            உலகத்தை வட்டமிட்ட எண்ணிக்கை = 14
        </p>
    <p>
            உபன்யாசங்களை கொடுத்தது = 2200 க்கும் மேல் 
            </p>
    </section>
</div>