.design{
    background-color: rgb(18, 87, 18);
    color: white;
    padding: 16px;
    text-align: justify;
}
.header, .header1{
    font-weight: bolder;
}
.header1{
    text-align: left !important;
}
.prabhupadaimage{
    width: 100%;
}