<div class="nav-bar navigationBar">
  <mat-toolbar color="primary">
    <div>
        <button mat-icon-button [matMenuTriggerFor]="animals" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      <button mat-button routerLink="/home"><mat-icon aria-hidden="false" aria-label="Example home icon"
          fontIcon="home">home</mat-icon></button>
    </div>
    <div class="nameOfSite"><img src="assets/images/logo.jpg" class="logo" alt="">Hare Krishna Tamil</div>
  </mat-toolbar>
    <mat-menu #animals="matMenu" >
        <div *ngFor="let route of allRouterPath">
            <button mat-menu-item class="toolBtn" [matTooltip]="route.routerPath" [routerLink]="route.routerLink">{{route.routerPath}}</button>

        </div>
        
      </mat-menu>
</div>