/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(149, 221, 243, 0.5); 
    z-index: 9999; /* optional */
  }
  
  .spinner {
    position: fixed;
    
  }
  .spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 520px) {
    .spinner-container{
      align-items: flex-start;
      padding-top: 180px;
    }

  } 