<div class="container-max">
    <div class="row">
<div class=" coloum-title">
    <div class="content-navigators mt-3" fxLayout="row wrap" fxLayoutAlign.lt-sm="space-around" fxLayoutGap="10px">
        <a class="content-buttons"><img src="assets/images/bgeeta.png" class="image-class" alt=""></a>
        <a class="content-buttons"><img src="assets/images/sb.png" class="image-class" alt=""></a>
        <a class="content-buttons"><img src="assets/images/sp.png" class="image-class" alt=""></a>
        <a class="content-buttons"><img src="assets/images/cc.png" class="image-class" alt=""></a>
    </div>
</div>
    </div>
</div>
<app-footer></app-footer>