.video-div{
    border: 1px solid yellow;
    padding: 3px;
}
.timing{
    color: rgb(51, 20, 80);
    font-weight: 900;
}
.title{
    font-weight: 900;
    color: rgb(104, 64, 16);
}
.headd{
    font-size: 25px;
    line-height: 32px;
}
.example-card {
    max-width: 400px;
  }
.example-header-image {
    background-image: url('../../../src/assets/images/srilaprabhupada.png');
    background-size: cover;
  }
  p, details {
    display: inline-block;
    white-space: wrap;
    max-width: 100%;
    font-size: 16px;
    font-weight: 900;
  }
  .mat-card {
    padding: 6px;
    margin: 4px;
    text-align: center;
    background-color: #8f400f;
    box-shadow: 0px 0px 20px 2px #a85b02;
  }
  .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px;
    font-weight: 700;
}
  .mat-card>.mat-card-actions:last-child {
    
    background-color: #030300d6;
    /* color: white; */
}
.logo{
    width: 70px;
    margin-right: 8px;
}