<form [formGroup]="acharyaFormGroup">
<mat-form-field appearance="fill">
    <mat-label>S.No</mat-label>
    <input matInput formControlName="id">
  </mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Acharya Name</mat-label>
    <input matInput formControlName="acharyaName">
  </mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput formControlName="photo">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput formControlName="details"></textarea>
  </mat-form-field>
</form>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>close</button>
    <button mat-raised-button color="primary" (click)="addDetails()"> Submit</button>

</div>